# Basic of Python

This notebook will just go through the basic topics in order:

1.Data types
2.Numbers
3.Strings
4.Printing
5.Lists
6.Dictionaries
7.Booleans
8.Tuples
9.Sets
10.Comparison Operators
11.if, elif, else Statements
12.for Loops
13.while Loops
14.range()
15.list comprehension
16.functions
17.lambda expressions
18.map and filter
19.methods

# Data types

# Numbers

In [1]:
3+5

8

In [2]:
3-5

-2

In [3]:
7*2

14

In [4]:
4/2

2.0

In [5]:
3**2

9

In [6]:
14//3

4

In [7]:
14%3

2

In [8]:
(2+3)*(5-2)

15

# Variable Assignment

In [9]:
# can't start with number or special charater
name_of_var = 2

In [10]:
a = 5

In [11]:
b = 7

In [12]:
c = a+b

In [13]:
c

12

# Strings

In [14]:
'Single Quotes'

'Single Quotes'

In [15]:
"double quotes"

'double quotes'

In [16]:
"That's correct."

"That's correct."

In [17]:
'That"s also correct.'

'That"s also correct.'

# Printing

In [18]:
x = 'hello'

In [19]:
x

'hello'

In [20]:
print(x)

hello

In [21]:
num = 25 
name = 'Vinay'

In [23]:
print("My number is : {one} and my name is: {two}.".format(one=num,two=name))

My number is : 25 and my name is: Vinay.

In [24]:
print("My name is : {} and my number is : {}.".format(name,num))

My name is : Vinay and my number is : 25.

# Lists

In [25]:
[8,4,2]

[8, 4, 2]

In [27]:
['abc',[1],[1,2],[1,2,3]]

['abc', [1], [1, 2], [1, 2, 3]]

In [28]:
my_list = ['x','y','z']

In [29]:
my_list

['x', 'y', 'z']

In [30]:
my_list.append('w')

In [31]:
my_list

['x', 'y', 'z', 'w']

In [32]:
my_list[0]

'x'

In [33]:
my_list[1]

'y'

In [34]:
my_list[-1]

'w'

In [35]:
my_list[2:]

['z', 'w']

In [36]:
my_list[0] = 'NEW'

In [37]:
my_list

['NEW', 'y', 'z', 'w']

In [38]:
nest = [1,2,3,[4,5,['target']]]

In [39]:
nest[3]

[4, 5, ['target']]

In [40]:
nest[3][1]

5

In [41]:
nest[3][2]

['target']

In [42]:
nest[3][2][0]

'target'

# Dictionaries

In [43]:
d = {'key1':'item1' , 'key2': 'item2'}

In [44]:
d

{'key1': 'item1', 'key2': 'item2'}

In [47]:
d['key2']

'item2'

# Booleans

In [48]:
True

True

In [49]:
False

False

# Tuples

In [50]:
t = (7,8,6)

In [51]:
t[0]

7

In [52]:
t[2]

6

In [53]:
t[1] = 5

TypeError: 'tuple' object does not support item assignment

# Sets

In [54]:
{1,2,3}

{1, 2, 3}

In [55]:
{1,2,3,4,5,4,3,2,1}

{1, 2, 3, 4, 5}

# Comparison Operator

In [56]:
5>1

True

In [57]:
1>5

False

In [58]:
1<5

True

In [59]:
1<1

False

In [60]:
1<=1

True

In [61]:
1>=1

True

In [62]:
1==1

True

In [63]:
'hi'== 'bye'

False

# Logic Operators

In [64]:
(5>1) and (5>2)

True

In [65]:
(5>1) and (5<2)

False

In [66]:
(5<2) or (5>1)

True

In [67]:
(5>2)or(5>1)

True

# if,elif, else Statements

In [68]:
if 1 < 2:
    print('Yep!')

Yep!

In [70]:
if 1 > 2:
    print('first')
else:
    print('last')

last

In [71]:
if 1 < 2:
    print('first')
else:
    print('last')

first

In [72]:
if 1 == 2:
    print('first')
elif 3 == 3:
    print('middle')
else:
    print('Last')

middle

# for loop

In [73]:
seq = [7,8,9,4,5,6,1,2,3]

In [74]:
for i in seq:
    print(i)

7
8
9
4
5
6
1
2
3

In [75]:
for item in seq:
    print('Yep!')

Yep!
Yep!
Yep!
Yep!
Yep!
Yep!
Yep!
Yep!
Yep!

In [76]:
for i in seq:
    print(i+i)

14
16
18
8
10
12
2
4
6

# while Loops

In [78]:
i = 1
while i <= 5:
    print("i is {}".format(i))
    i+=1

i is 1
i is 2
i is 3
i is 4
i is 5

# range

In [79]:
range(5)

range(0, 5)

In [80]:
for i in range(5):
    print(i)

0
1
2
3
4

In [82]:
list(range(5))

[0, 1, 2, 3, 4]

# list comprehension

In [83]:
x = [1,2,3,4]

In [84]:
out = []
for item in x:
    out.append(item**2)

In [85]:
out

[1, 4, 9, 16]

In [86]:
[i*2 for i in x]

[2, 4, 6, 8]

In [87]:
[item**2 for item in out]

[1, 16, 81, 256]

# functions

In [88]:
def my_func(param1 = 'default'):
    """
    Docstring goes here.
    
    """
    print(param1)

In [89]:
my_func

In [90]:
my_func()

default

In [91]:
my_func('new_param')

new_param

In [92]:
def square(x):
    return x**2

In [93]:
square(15)

225

In [94]:
out = square(15)
print(out)

225

# lambda expression

In [95]:
def times2(var):
    return var*2

In [96]:
times2(9)

18

In [97]:
lambda var : var*2

# map and filter

In [100]:
seq = [1,2,3,4,5]

In [101]:
map(times2,seq)

In [102]:
list(map(times2,seq))

[2, 4, 6, 8, 10]

In [103]:
list(map(lambda var:var**2,seq))

[1, 4, 9, 16, 25]

In [104]:
filter(lambda x : x%2==0,seq)

In [105]:
list(filter(lambda x : x%2==0,seq))

[2, 4]

# methods

In [106]:
vk = 'My name is Vinay.'

In [107]:
vk.lower()

'my name is vinay.'

In [108]:
vk.upper()

'MY NAME IS VINAY.'

In [109]:
vk.split()

['My', 'name', 'is', 'Vinay.']

In [112]:
tweet = "Go sport! #sports "

In [113]:
tweet.split('#')

['Go sport! ', 'sports ']

In [114]:
tweet.split('!')

['Go sport', ' #sports ']

In [115]:
d

{'key1': 'item1', 'key2': 'item2'}

In [116]:
d.keys()

dict_keys(['key1', 'key2'])

In [117]:
d.items()

dict_items([('key1', 'item1'), ('key2', 'item2')])

In [118]:
lst = [4,3,9,8]

In [119]:
lst.pop()

8

In [120]:
lst

[4, 3, 9]

In [121]:
'x' in lst

False

In [122]:
'x' in ['f',1,'e',4,3,'x']

True